.banner-text-right{
    font-family: "DomaineDisplayTestRegular";
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 8px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .banner-text-right-value{
    font-family: "FuturaPT-Book";
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.23px;
    line-height: 27px;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @media only screen and (max-width: 1199px){
    .banner-text-right {
        margin-bottom: 40px;
      }
  }
  @media screen and (max-width: 1199px), screen and (max-height: 700px){
    .banner-text-right {
      font-size: 30px;
      line-height: 26px;
    }
  }
