@font-face {
    font-family: 'DomaineDisplayTestBold';
    src: url('../fonts/DomaineDisplayTestBold.woff2') format('woff2');
}
@font-face {
    font-family: 'DomaineDisplayTestMedium';
    src: url('../fonts/DomaineDisplayTestMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'DomaineDisplayTestRegular';
    src: url('../fonts/DomaineDisplayTestRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2');
}
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype');
}
body {
    font-family: 'FuturaPT-Medium';
    min-height: 3000px;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mySlides {
  display:none;
}

.search-icon-svg{
    position: relative;
    top: -17px;
    right: 20px;
    cursor: pointer;
}
  
  nav {
    background: transparent;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
    line-height: 1.5;
    height: auto;
  }
  nav.scrollUp {
    transform: translateY(-80px);
  }
  
  #header{
    margin-top: 40px;
    padding: 0 85px;
  }
  
  .row{
    margin: auto;
  }
  
  .col-2, .col-8 {
    padding: 0px;
  }

  .banner-container{
    height: 100vh;
    width: 100%;
    padding: 0 85px;
  }

  .banner-text-left-container, .banner-text-right-container{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 4;
  }


  .banner-text-left{
    font-family: "DomaineDisplayTestRegular";
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 10.67px;
    text-transform: uppercase;
    line-height: 84px;
    margin-bottom: 50px;
  }

  .shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  .img-shade-container{
    position: relative;
    cursor: pointer;
  }

  .imgblock{
    margin-bottom: 140px;
    max-width: 48%;
  }

  .img-block-text{
    width: 96%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .img-text{
    position: absolute;
    top: 32%;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -moz-transition:all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  }

  .img-text h3{
    text-transform: uppercase;
    font-family: DomaineDisplayTestRegular;
    letter-spacing: 5px !important;
    color: white;
    font-size: 3.14286em;
  }

  .img-text span {
    position: relative;
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -moz-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
    transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  }

  .img-row-one, .img-row-two, .concept-row-one, .concept-row-two, .concept-row-three, .online-store-one, .online-store-two, .news-container-row, .footer-row{
    opacity: 0;
  }

  .concept-block-row{
    padding-top: 160px;
    width: 100%;
    position: relative;
  }

  .concept-block{
    width: 65%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #AFB478;
    -webkit-box-shadow: 0 1px 0 0 #AFB478;
    box-shadow: 0 1px 0 0 #AFB478;
  }

  .footer-policy{
    color: #8f8f91;
    font-size: 12px;
    font-family: "FuturaPT-Book";
    letter-spacing: 0.24px;
    line-height: 28px;
  }

  .footer-list-container h6{
    font-size: 1.2857142857em;
    font-family: "FuturaPT-Book";
    letter-spacing: 0.36px;
    text-transform: none;
  }
  
  .footer-list-container ul li{
    font-family: "FuturaPT-Book";
    font-size: 14px;
    color: #8f8f91;
    letter-spacing: 0.28px;
    line-height: 42px;
  }

  .line-text{
    display: flex;
    align-items: center;
  }

  .not-line-text{
    padding-left: 130px;
  }

  .dash-line{
    width: 36px;
    height: 1px;
    background: #AFB478;
    display: block;
    margin-right: 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .dash-reduce-container{
    color:white;
    text-transform: uppercase;
    font-size: 13px;
    font-family: FuturaPT-Medium;
    letter-spacing: 3.25px;
    cursor: pointer;
    margin-top: 43px;
  }

  .concept-head-text-container{
    position: absolute;
    top: 30%;
  }

  .concept-head{
    left: -1em;
    position: relative;
  }

  .concept-head h2, .concept-head-text h2{
    font-size: 3.2em;
    line-height: 1;
    margin-bottom: 0.7142857143em;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "DomaineDisplayTestRegular";
    color: white;
}

.concept-text{
    padding-top: 4em;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.concept-text p {
  font-family: "FuturaPT-Book";
  letter-spacing: 0.3px;
  line-height: 1.8571428571em;
  color: #d1d1d1;
  font-size: 1em;
}

.concept-text-list-container{
  display: flex;
  flex-wrap: wrap;
  
}
.concept-text-number{
  padding-right: 15px;
  margin: auto;
  opacity: 0.2;
  color: #ffffff;
  font-size: 24px;
  font-family: "DomaineDisplayTest-Regular";
  letter-spacing: 5.33px;
  width: 30%;
}

.concept-text-list{
  width: 70%;
}

.concept-text-list-container li {
  width: 50%;
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-family: "FuturaPT-Book";
  letter-spacing: 0.3px;
  flex: 40%;
  margin-bottom: 15px;
  display: flex;
  margin-right: 25px;
}

.store-header{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 100px;
  z-index: 1;
}

.store-header h2{
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 0.7142857143em;
  letter-spacing: 25px;
  text-transform: uppercase;
  font-family: "DomaineDisplayTestRegular";
}

.online-store-img{
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.concept-head-text span{
  position: relative;
  top: 0px;
  -webkit-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -moz-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -ms-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  -o-transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
  transition: all 0.6s cubic-bezier(0.93, 0.01, 0.59, 0.83);
}

.locator-container{
  position: absolute;
  top: 40%;
}
.locator-container h2{
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 0.7142857143em;
  letter-spacing: 25px;
  text-transform: uppercase;
  color: white;
  font-family: "DomaineDisplayTestRegular";
}

.moving-text-container, .moving-text-container-left{
  position: absolute;
  left: 55%;
  right: auto;
  z-index: -1;
}

.moving-text{
  color: #141415;
  font-family: "DomaineDisplayTestBold";
  letter-spacing: .21em;
  text-transform: uppercase;
  width: 200%;
  font-size: 120px;
}

.email-box::placeholder {
  color: #8f8f91;
  opacity: 1;
}
.email-box:-ms-input-placeholder { 
 color: #8f8f91;
}
.email-box::-ms-input-placeholder { 
 color: #8f8f91;
}

.mob-text-concept{
  position: absolute;
  top: 36%;
  display: none;
}
.concept-mob-row .mob-text-concept{
  right: 2%;
}

.concept-mob-row2 .mob-text-concept{
  left: 2%;
}
.mob-text-concept h2{
    font-size: 1.7em;
    line-height: 1;
    margin-bottom: 0.7142857143em;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "DomaineDisplayTestRegular";
    color: white;
}

  .scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
            animation: scale-in-hor-left 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
  }
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.scale-out-hor-right {
	-webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation-delay: 0.2s;
}

 @-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
          position: relative;
}
.slide-in-bottom-delay1 {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
          position: relative;
}
.slide-in-bottom-delay2 {
	-webkit-animation: slide-in-bottom 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: slide-in-bottom 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
          position: relative;
}
.slide-in-bottom-delay3 {
	-webkit-animation: slide-in-bottom 2.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: slide-in-bottom 2.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
          position: relative;
}
 @-webkit-keyframes slide-in-bottom {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1550px){
  .moving-text {
    font-size: 120px;
  }
}


@media only screen and (max-width: 1400px){
  .moving-text {
    font-size: 100px;
  }
  .concept-head {
    left: -4em;
  }
  .concept-text{
    padding-top: 3em;
    padding-left: 10%;
  }
  .concept-mob-row2 .concept-head{
    right: -95px !important;
    position: absolute;
    height: 83px;
  }
  .concept-mob-row2 .concept-text{
    margin-top: 4em;
  }
}


@media only screen and (max-width: 1366px){
  .concept-head h2, .concept-head-text h2 {
    font-size: 2.7571428571em;
  }
}

@media only screen and (max-width: 1260px){
  .locator-container h2 {
    font-size: 2.25em;
  }
}

@media only screen and (max-width: 1199px){
  .img-text h3{
    font-size: 40px;
  }
  .concept-head h2, .concept-head-text h2 {
    font-size: 2.2714285714em;
  }
  .concept-text {
    padding-top: 2em;
    padding-left: 5% !important;
    padding-right: 16% !important;
  }
  .concept-text p{
    font-size: 14px;
  }

  .concept-mob-row2 .concept-head{
    right: -61% !important;
    position: absolute;
    height: 83px;
    width: 420px;
  }

  .concept-text-list-container{
    flex-direction: column;
    margin-left: 17px;
  }

  .concept-text-list-container li{
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
  .dash-reduce-container{
    letter-spacing: 2.25px;
  }

  .concept-text-list-container li:nth-child(2), .concept-text-list-container li:nth-child(4){
    margin-left: 48px;
  }

  .concept-text-number{
    width: 14%;
    margin: 0px 6px 0px 0px;
  }

  .concept-mob-row2 .concept-text{
    width: 142%;
  }

  .store-header h2, .locator-container h2{
    font-size: 2.6142857143em;
    letter-spacing: 15px;
  }
  .news-header{
    font-size: 2.5142857143em;
    letter-spacing: 15px;
  }
  .footer-container{
    padding-top: 100px !important;
  }
}

@media screen and (max-width: 1199px), screen and (max-height: 700px){
  .banner-text-left {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 8px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1100px){
  .concept-block{
    height: 650px;
  }
  .store-header h2, .locator-container h2{
    font-size: 2.2142857143em;
    letter-spacing: 15px;
  }
  
}


@media only screen and (max-width: 1024px) {
  #header{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .banner-container {
    padding: 15px 40px !important;
  }
  .banner-container .col-6{
    display: flex;
    align-items: center;
  }
  .mod {
    right: 40px !important;
  }

  .img-row-two:nth-child(1) .img-text{
    top: 17% !important;
  }
  .img-text h3{
    font-size: 35px;
  }
  .img-row-one:nth-child(2) .img-shade-container img{
    height: auto !important;
  }
  #accessories-img{
    height: 225px !important;
  }
  .concept-block{
    height: 550px;
  }
  .concept-head h2, .concept-head-text h2 {
    font-size: 1.7em;
  }
  .concept-head-text-container{
    top: 15%;
  }
  .concept-text p{
    font-size: 13px;
  }
  .concept-mob-detail{
    width: 43% !important;
  }

}

@media only screen and (max-width: 991px){
  #header{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .img-text h3{
    font-size: 28px;
  }
  .concept-block-row{
    padding-top: 60px;
  }

  .store-header h2, .locator-container h2{
    font-size: 1.8142857143em;
    letter-spacing: 5px;
  }
  .store-header{
    top: 80px;
  }
  .store-row{
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  .footer-container{
    width: 100% !important;
    padding-top: 50px !important;
  }
  .concept-text-list-container li:nth-child(2), .concept-text-list-container li:nth-child(4){
    margin-left: 0px;
  }
  .concept-mob-row2 .concept-head{
    right: -37% !important;
  }
}

@media screen and (max-width: 991px), screen and (max-height: 600px){
  .banner-text-left {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 767px){

  .banner-text-right-container, .banner-container .col-2 {
    display: none !important;
    bottom: 0;
    width: 100%;
  }
  .banner-text-left-container{
    top: 44%;
  }

  .banner-text-left{
    font-size: 35px;
    line-height: 45px;
  }

  .banner-container .col-4{
    flex: 0 0 23.333333%;
    max-width: 23.333333%;
  }

  .banner-container .col-6{
    flex: 0 0 76.666667%;
    max-width: 76.666667%;
  }

  .img-block-container .dash-reduce-container{
    display: none;
  }

  .menu-text{
    display: none !important;
  }
  .img-block-container .imgblock{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .img-text h3 {
    letter-spacing: 0px !important;
}
  .concept-block{
    height: 450px;
  }
  .concept-head h2, .concept-head-text h2 {
    font-size: 1.7em;
    letter-spacing: 0;
  }

  .concept-head {
    left: -1em;
  }

  .concept-text p {
    font-size: 13px;
    line-height: 20px;
}

.concept-text {
  padding-top: 2em;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.concept-mob-row2 .concept-head {
  right: -11% !important;
}

.concept-mob-row2 .concept-text{
  padding-left: 1% !important;
  padding-right: 15% !important;
}

.concept-text-list-container li{
  width: 80%;
}
  .dash-reduce-container{
    font-size: 12px;
    letter-spacing: 1.25px;
  }
  .concept-head-text-container{
    top: 10%;
  }
  .not-line-text{
    padding-left: 105px;
  }
  .online-store-one{
    flex-direction: column;
  }
  .online-store-img{
    width: 100%;
  }
  .online-store-two img{
    width: 100% !important;
  }
  .online-store-two{
    top: 55px !important;
  }
  .store-header {
    top: -67px;
}
  .store-header h2{
    font-size: 1.542857143em;
}
  .footer-list-container ul li{
    line-height: 27px;
  }
  .footer-row {
    height: 629px !important;
  }
}

@media only screen and (max-width: 660px){
  #header {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.banner-container .col-4 {
  flex: 0 0 20.333333%;
  max-width: 20.333333%;
}
.banner-container .col-6 {
  flex: 0 0 79.666667%;
  max-width: 79.666667%;
  padding: 0px;
}
.img-block-container .dash-reduce-container{
  display: none;
}

  .banner-container {
    padding: 15px 30px !important;
}
  .concept-block{
    height: 435px;
  }
  .concept-head{
    display: none;
  }
  .concept-text-list-container li{
    width: 100%;
  }
  .concept-mob-row{
    flex-direction: column;
  }
  .concept-mob-row2{
    flex-direction: column-reverse;
  }
  .concept-mob-row2 .concept-row-two{
    position: relative;
    left: 30%;
  }
  .concept-mob-row2 .concept-text{
    margin-top: 0;
  }
  .concept-mob-row2 .dash-reduce-container{
    padding-left: 75px;
  }
  .concept-mob-detail{
    width: 100% !important;
    height: 50%;
  }
  .concept-head-text-container{
    top: 0%;
  }
  .concept-text{
    padding-top: 1em;
    padding-left: 9% !important;
    padding-right: 9% !important;
  }
 
  .concept-row-three{
    margin-top: 7em;
  }
  .concept-row-three .concept-block{
    height: 300px;
  }
  .concept-head-text h2 {
    font-size: 1.48em;
}
  .concept-brand{
    width: 100% !important;
  }
  .mob-text-concept{
    display: block;
  }
  .store-header h2 {
    letter-spacing: 2px;
}
  .dash-reduce-container{
    margin-top: 15px !important;
  }
  .img-block-container{
    margin-top: 40px !important;
  }
  .concept-block {
    height: 435px;
    width: 462px;
}
  .news-container-row{
    margin-bottom: 90px !important;
  }
}

@media only screen and (max-width: 640px){
  .banner-text-left{
    font-size: 30px;
    letter-spacing: 4px;
  }
  .img-block-container .dash-reduce-container{
    display: none;
  }
  .concept-text{
    padding-left: 9% !important;
    padding-right: 9% !important;
  }
  .online-store-two {
    top: 95px !important;
}
.store-row {
  padding-top: 120px !important;
  padding-bottom: 160px !important;
}

  .footer-container{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media only screen and (max-width: 580px){
  .img-row-two .img-text{
    top: 37% !important;
  }
  .img-row-one .img-text{
    top: 40% !important;
  }
  .concept-block {
    width: 70%;
}
.concept-block-row .dash-reduce-container {
  letter-spacing: 3.25px;
}
.mob-text-concept h2{
  font-size: 1.48em;
}
.not-line-text {
  padding-left: 122px;
}
.concept-row-three .dash-reduce-container{
  left: 22% !important;
}
.online-store-img img, .online-store-img .shade{
  top: 0 !important;
}
.online-store-two {
  top: 40px !important;
}
.store-row{
  padding-bottom: 120px !important;
}
.footer-container{
  flex-direction: column;
}
.footer-left{
  margin-bottom: 15px;
}
.footer-right{
  width: 100% !important;
}
.footer-row{
  height: 729px !important;
}
}

@media only screen and (max-width: 480px){
  .banner-text-left-container{
    top: 41%;
  }
  .concept-block{
    width: 80%;
  }
  .concept-mob-row2 .concept-row-two{
    left: 20%;
  }
  .locator-container h2 {
    font-size: 1.6em;
    letter-spacing: 2px;
}
.online-store-img:nth-child(3) img, .online-store-img:nth-child(3) .shade {
  top: -25px !important;
}
.online-store-img .dash-reduce-container{
 top: 38% !important;
}
.online-store-two {
  top: 25px !important;
}
}

@media only screen and (max-width: 460px){
  .footer-row {
    height: 784px !important;
}
.footer-container {
  flex-direction: column;
}
.footer-list-container{
  width: 49.333% !important;
}
.footer-top{
  height: 50% !important;
  flex-wrap: wrap;
}
.third-ul-footer{
  position: relative;
    top: -28%;
    left: 50%;
}
}

@media only screen and (max-width: 380px){
  .concept-row-three .dash-reduce-container{
    left: 12% !important;
  }
.img-row-one:nth-child(2) .img-shade-container img{
    height: auto !important;
}



