.scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    background: #AFB478;
    border-color: #AFB478;
  }
  .scroll-top i {
    display: inline-block;
    color: #fff;
    font-size: 1.1rem;
  }